// COLORS
$color-primary: #D14800;
$color-primary-lighter: #FF4800;
$color-secondary: #181110;

$color-white: #fff;
$color-grey:  #404040;
$color-dark: #000;
$color-grey-dark: #181110;
$color-grey-light: #A3A3A3;
$color-grey-input-filler:#ffffff1a;



//FONTS SIZE
$base-font-size: 22px;


//FONST FAMILY
$primary-font-family: Catamaran;
$secondary-font-family-bold: RobotoSlab-Bold;
$secondary-font-family-light: RobotoSlab-Light;

// SPACING
$sections-seprator-space: 100px;


// BODRER COLORS
$container-border-color: #8D8D8D;