// COLORS
$color-primary: #D14800;
$color-primary-lighter: #FF4800;
$color-secondary: #181110;

$color-white: #fff;
$color-grey:  #404040;
$color-dark: #000;



//FONTS SIZE
$base-font-size: 22px;


//Fonts Family
$primary-font-family: Catamaran;