@import url(../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css);
@import url(../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css);
@import url(../../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
@font-face {
  font-family: Catamaran;
  src: url("../../assets/fonts/Catamaran-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab-Bold;
  src: url("../../assets/fonts/RobotoSlab-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab-Light;
  src: url("../../assets/fonts/RobotoSlab-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* MARGIN PADDING MIXIN */
.header {
  background-image: url(../img/header-bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* PRIMARY HEADER */
}

.header .primary-header {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* HAMBURGER ICON */
  /* ADD THE CLOSE ICON */
  /*  PRIMARY NAVIGATION  */
}

.header .primary-header .mobile-nav-toggle {
  display: none;
}

.header .primary-header .mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(../img/close.png);
}

.header .primary-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .primary-header ul.primary-navigation[data-visible="true"] {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header .primary-header ul.primary-navigation > li {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.header .primary-header ul.primary-navigation > li a {
  font-size: 19px;
  font-family: Catamaran;
  color: #fff;
  padding: 0 30px;
  text-transform: uppercase;
}

.header .primary-header ul.primary-navigation > li a.active {
  border-bottom: 2px solid #FF4800;
  padding: 0;
}

.discription {
  margin: 250px 0 0 0;
  text-align: center;
  color: #fff;
}

.discription__title {
  font-family: RobotoSlab-Bold;
  letter-spacing: 1.5px;
}

.discription__subtitle {
  font-family: Catamaran;
}

.discription__btn-group button {
  -webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline: none;
  border: 0;
  color: #fff;
  padding: 15px 60px;
  font-size: 16px;
  margin: 30px;
}

.discription__btn-group button:first-child {
  background-color: #D14800;
}

.discription__btn-group button:last-child {
  background-color: #404040;
}

.tabs {
  margin-top: 100px;
  padding: 100px;
  border: 1px solid #8D8D8D;
  background-color: #181110;
}

.tabs__title ul {
  list-style: none;
  padding: 0;
  color: #fff;
}

.tabs__title ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tabs__title ul li a {
  text-decoration: none;
  color: darkgray;
  padding: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid transparent;
  font-family: Catamaran;
}

.tabs__title ul li a:hover {
  color: gray;
}

.tabs__title .tabs-intro {
  color: #fff;
  font-size: 25px;
  font-family: RobotoSlab-Light;
}

.tabs__title .tabs-intro span:first-child {
  border-bottom: 2px solid #FF4800;
}

.tabs .nav .active a {
  color: #FF4800;
  border-bottom: 1px dashed #404040;
}

.tabs__content {
  padding-top: 80px;
}

.tabs__content .tab-pane {
  display: none;
}

.tabs__content hr {
  border-color: #404040;
  height: .3px;
  margin: 5px 0 0 0;
}

.tabs__content__disc {
  color: #fff;
  font-family: RobotoSlab-Light;
  font-size: 12px;
  padding: 10px 0;
}

.tabs__content__disc__subtitle {
  color: #A3A3A3;
  font-family: Catamaran;
}

.tabs__content__disc__number {
  color: #A3A3A3;
}

.tabs__content .tab-pane.active {
  display: block;
}

.book {
  background-image: url(../img/book-table.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-top: 150px;
  /* BOOK FORM */
}

.book__title {
  color: #fff;
  padding: 100px 80px;
}

.book__title__primary {
  font-family: RobotoSlab-Light;
  font-size: 25px;
}

.book__title__primary span:first-child {
  border-bottom: 2px solid #FF4800;
}

.book__title__secondary {
  font-family: Catamaran;
  font-size: 13px;
  padding-top: 30px;
}

.book .book-form {
  border: 1px solid #8D8D8D;
  background-color: #181110;
  padding: 80px;
}

.book .book-form form label {
  color: #A3A3A3;
  text-transform: uppercase;
  font-family: Catamaran;
  font-size: 15px;
  font-weight: thin;
}

.book .book-form form input {
  background-color: #ffffff1a;
  border: 0.2px solid #404040;
  line-height: 43px;
  margin: 5px 0;
  padding: 0 10px;
}

.book .book-form form input:focus {
  outline: none;
  caret-color: #FF4800;
  color: #A3A3A3;
  font-family: Catamaran;
}

.book .book-form form .input-number-wrapper {
  border: 0.2px solid #404040;
}

.book .book-form form .input-number-wrapper span {
  background-color: #ffffff1a;
  padding: 10px;
  color: #fff;
}

.book .book-form form .input-number-wrapper input {
  margin: 0;
  text-align: center;
  line-height: 43px;
  color: #fff;
  /* prefixes=> Chrome, Safari, Edge, Opera */
  /* prefixes=> Firefox */
}

.book .book-form form .input-number-wrapper input::-webkit-outer-spin-button, .book .book-form form .input-number-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.book .book-form form .input-number-wrapper input[type=number] {
  -moz-appearance: textfield;
}

.book .book-form form .book-btn {
  background-color: #FF4800;
  border-radius: 3px;
  line-height: 45px;
  border: none;
  outline: none;
  color: #fff;
  font-family: Catamaran;
  cursor: pointer;
  margin-top: 20px;
}

/* BREAKPOINTS */
@media (max-width: 400px) {
  .tabs__title ul {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs__content {
    padding-top: 50px;
  }
  .tabs__content__disc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .book {
    margin-top: 0;
  }
  .book__title span:first-child {
    border-bottom: none;
  }
  .book__title span:last-child {
    border-bottom: 2px solid #FF4800;
  }
}

@media (max-width: 767px) {
  .header {
    background-position: center;
    background-size: cover;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 100vh;
    /* PRIMARY HEADER */
  }
  .header .primary-header {
    padding-top: 40px;
    /* LOGO */
  }
  .header .primary-header .logo {
    width: 120px;
    height: 80px;
    margin: 0 0 0 20px;
  }
  .header .primary-header ul.primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: linear-gradient(100deg, #000000 0%, rgba(0, 0, 0, 0.7) 100%);
    -webkit-transform: translateX(-143%);
            transform: translateX(-143%);
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    padding: 140px 50px;
  }
  .header .primary-header ul.primary-navigation > li {
    padding: 20px 30px;
  }
  .header .primary-header ul.primary-navigation > li a {
    text-align: center;
    text-transform: capitalize;
  }
  .header .primary-header ul.primary-navigation > li a.active {
    border-bottom: none !important;
    padding: 0 0 0 20px;
    color: #FF4800 !important;
    font-size: 16px;
  }
  .header .primary-header .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-image: url("../../assets/img/bar.png");
    background-size: cover;
    border: none;
    top: 70px;
    right: 50px;
    width: 28px;
    aspect-ratio: 1;
    z-index: 9999;
  }
  .header .discription {
    margin: 80px 0 0 0;
  }
  .header .discription__btn-group button:last-child {
    margin-top: 0;
  }
  .tabs {
    margin-top: 100px;
    padding: 50px;
  }
  .tabs__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs__title ul {
    padding-top: 20px;
  }
  .tabs__title .tabs-intro span:first-child {
    border-bottom: none;
  }
  .tabs__title .tabs-intro span:last-child {
    border-bottom: 2px solid #FF4800 !important;
  }
  .tabs__content {
    padding-top: 50px;
  }
  .book {
    margin-top: 0;
  }
  .book__title span:first-child {
    border-bottom: none;
  }
  .book__title span:last-child {
    border-bottom: 2px solid #FF4800;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .header {
    background-position: center;
    background-size: cover;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 100vh;
    /* PRIMARY HEADER */
  }
  .header .primary-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
  .header .primary-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .primary-header ul.primary-navigation li a.active {
    border-bottom: 2px solid #FF4800;
  }
  .header .discription {
    margin: 50px 0 0 0;
  }
  .tabs .tabs__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs .tabs__title ul {
    padding-top: 20px;
  }
  .tabs .tabs__title .tabs-intro span:first-child {
    border-bottom: none;
  }
  .tabs .tabs__title .tabs-intro span:last-child {
    border-bottom: 2px solid #FF4800 !important;
  }
  .book {
    margin-top: 0;
  }
  .book__title span:first-child {
    border-bottom: none;
  }
  .book__title span:last-child {
    border-bottom: 2px solid #FF4800;
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .header {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header ul.primary-navigation li a.active {
    border-bottom: 2px solid #FF4800;
  }
  .header .discription {
    margin: -20px 0 0 0;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  .header {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header ul.primary-navigation li a.active {
    border-bottom: 2px solid #FF4800;
  }
  .header .discription {
    margin: 100px 0 0 0;
  }
}

@media (min-width: 1701px) {
  .discription {
    margin: 200px 0 0 0;
  }
}

/*Reset*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */